<!DOCTYPE html>
<html>
<head>
    <title>Movie Site Live</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>🎬 Movie Site Live!</h1>
    <p>Bollywood, Hollywood & OTT Updates Coming Soon...</p>
</body>
</html>
